/******* FONT ********/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
} 

html {
    background-color: hsl(204, 8%, 12%);
    overflow-x: hidden;
}

header{
    height: 100vh;
    background-color: black;
    background-size: cover;
    background-position: center;
}

.header_inner{ 
    position: relative;
    height: 100vh;
}

.header_logo{
    padding-top: 6%;
    width: 100vw;
    text-align: center;
}

.header_logo img{ width: 85% }

header .low_opacity::before{
    height: 100vh;
}

.low_opacity::before{
    content: "";
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,0.4);
}

.button_nav {
    position: absolute;
    bottom: 2.5%;
    right: 3%;
}

.fa-angle-left{
    margin-right: 10px;
    opacity: 0;
    cursor: pointer;
}

.fa-angle-right{
    cursor: pointer;
}

/***** Conteneur prix *****/

.price_container{ margin: 5% }

.title_container{
    text-align: center;
    margin-bottom: 8%;
}

.frame-content{
    display: grid;
    border: solid red;
}

#frame input[type=radio] {
    display: none;
}
  
#frame label {
    cursor: pointer;
    text-decoration: none;
}
  
#overflow {
    width: 100%;
    overflow: hidden;
}
  
#frame1:checked~#slides .inner {
    margin-left: 0;
}
  
#frame2:checked~#slides .inner {
    margin-left: -100%;
}
  
#frame3:checked~#slides .inner {
    margin-left: -200%;
}
  
#frame4:checked~#slides .inner {
    margin-left: -300%;
}

#slides{
    margin-left: 2%;
}

#slides .inner {
    transition: margin-left 800ms 
        cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 75vh;
}
  
#slides .frame {
    margin-right: 1%;
    width: 24%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #FFF;
    background-size: cover;
    background-position: center;
}


#slides .frame_1 {
    background-image: url("/content/prixslide1_MOD.jpg");
}
  
#slides .frame_2 {
    background-image: url("/content/prixslide2_MOD.jpg");
}
  
#slides .frame_3 {
    background-image: url("/content/prixslide3_MOD.jpg");
}
  
#slides .frame_4 {
    background-image: url("/content/prixslide4.jpg");
}
  
#bullets {
    margin: 30px 0 0;
    text-align: center;
}
  
#bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.4);
    margin: 0 10px;
}
  
#frame1:checked~#bullets label:nth-child(1),
#frame2:checked~#bullets label:nth-child(2),
#frame3:checked~#bullets label:nth-child(3),
#frame4:checked~#bullets label:nth-child(4) {
    background: white;
}

/***** Passer une réservation *****/
.makeReservation{
    position: relative; 
    margin: 30% 5% 30% 5%;
    padding-top: 8%;
    padding-bottom: 4%;
    background-image: url('../content/cta-bg.jpg');
    background-size: cover;
    background-position: center;
}

.title_reservationBox{
    position: relative;
    margin-bottom: 13%;
    font-size: 3em;
    text-align: center;
}

.button_container{
    position: relative;
    text-align: center;
}

.styled {
    margin-bottom: 8%;
    padding: 0 20px;
    line-height: 3;
    font-size: 0.9em;
    text-align: center;
    color: hsl(120, 100%, 80%);
    border: solid;
    border-radius: 100px;
    border-width: 2px;
    border-color: hsl(120, 100%, 80%);
    background-color: rgba(0, 0, 0, 0);
    transition-property: color, border-color;
    transition-duration: .5s;
}

.styled:hover {
    border-color : white;
    color: white;
}


/***** FOOTER *****/
footer{
    background-color: black;
    width: 100vw;
    padding-bottom: 10%;
}

.footer_logo{ text-align: center }

.footer_logo img{
    margin-top: 4%;
    width: 50%;
}

.widgetFooter{
    margin-top: 5%;
    margin-left: 5%;
}

.dayTime{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4%;
    margin-right: 5%;
}

.title_widget{
    margin-bottom: 7%;
}

/***** SLIDER *****/  
.slides-container {
    position: absolute;
    z-index: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    list-style: none;
    margin: 0;
    padding: 0;
}

.dot {
    cursor: pointer;
    height: 1px;
    width: 25px;
    margin: 0 2px;
    background-color: rgba(255, 255, 255, 0.4);
    display: inline-block;
    transition: background-color 0.6s ease;
  }

.active {
    background-color: white;
}

.dotsContainer{
    position: absolute;
    bottom: 2.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slide {
    width: 100vw;
    height: 100vh;
    flex: 1 0 100%;
    background-size: cover;
    background-position: center;
}
  
.slide:nth-child(1) {
    background-image: url('../content/slide1.jpg');
}

.slide:nth-child(2) {
    background-image: url('../content/slide2.jpg');
}

.slide:nth-child(3) {
    background-image: url('../content/slide1(1).jpg');
    margin: 0;
}
  
/***** Max 600px screen *****/
@media screen and (min-width: 600px) {
    .price_container{ margin-top: 10% }
}




/* POUR LE SLIDE TACCTILE
https://blog.internet-formation.fr/2019/01/creer-un-menu-lateral-swipe-menu-avec-touch-events-et-click-en-css-3-et-javascript-natif/*/